<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cricket Score Predictor</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> 
    <!-- Bootstrap theme -->
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">

  </head>

  <body>
    <div class="container">
    <div class="header">
            <nav>
                <ul class="nav navbar-default nav-pills pull-right">
                    <li role="presentation" class="active" ><a href="#">Home</a>
                    </li>
                    <li role="presentation" ><a href="{{ url_for('predictor') }}">Score Predictor</a>
                    </li>
                    <li role="presentation" ><a href="{{ url_for('index') }}">Results</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Cricket Score Predictor</h3>
        </div>
  </div>
  <br>
  <br>
  <br>
  <br>



  <div class="container">
<img src="static/cric.jpeg" class="img-thumbnail" alt="Cinque Terre">
  </div>
  </body>
</html>
